@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --fundobranco: #f5f5f5;
  --fundoforms: #FFFFFF;
  --azulescuro: #024959;
  --preto:#1E1E1E;
  --cinza:#D9D9D9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
}

